        </div> <!-- .outer-wrapper -->
        
        <!-- LIBRARIES -->
        <!--<script src="{site_url}/lib/requirejs/require.min.js"></script>-->
        <!--<script src="{site_url}/lib/vendor/underscore.js"></script>-->
        <!--<script src="{site_url}/lib/vendor/moment.min.js"></script>-->
        <!--<script src="{site_url}/lib/vendor/json2.js"></script>-->
        <!--<script src="{site_url}/lib/vendor/jquery.js"></script>-->
        <!--<script src="{site_url}/lib/vendor/backbone.js"></script>-->
        <!--<script src="{site_url}/lib/isotope/jquery.isotope.min.js"></script>-->
        <!--<script src="{site_url}/lib/fancybox/jquery.fancybox.js"></script>-->
        <!--<script src="{site_url}/lib/bbq/jquery.ba-bbq.no-legacy.js"></script>-->
        <!--<script src="{site_url}/lib/foundation/foundation.js"></script>-->
        <!--<script src="{site_url}/lib/foundation/foundation.tooltips.js"></script>-->
        <!--<script>-->
            <!--$(document).foundation()-->
        <!--</script>-->

        <!--<script src="{site_url}/build/js/utils.@@hash.js"></script>-->

        {if segment_1 == ''}
        <!--<script src="{site_url}/build/js/quotes.@@hash.js"></script>-->
        <!--<script>-->
            <!--checkQuoteHeight()-->
        <!--</script>-->
        {/if}

        <!--<script src="{site_url}/build/js/starfield.@@hash.js"></script>-->

        <?php
            $p = null;
            if ( isset($_SERVER['QUERY_STRING']) ) { $p = $_SERVER['QUERY_STRING']; }

            switch ($p) {
                case 1:
                case 2:
                case 3:
                case 4:
        ?>
        <!--<script src="{site_url}/build/js/isoRTL.@@hash.js"></script>-->
        <?php
                break;
                default:
        ?>
        <!--<script src="{site_url}/build/js/iso.@@hash.js"></script>-->
        <?php 
                break; 
        } ?>

        <!--<script src="{site_url}/build/js/jst.@@hash.js"></script>-->

        <!-- MODELS -->
        <!--<script src="{site_url}/build/js/page.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/album.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/cover.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/film.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/project.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/showcase.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/profilesection.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/searchquery.@@hash.js"></script>-->

        <!-- COLLECTIONS -->
        <!--<script src="{site_url}/build/js/albums.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/covergallery.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/films.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/projects.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/showcases.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/profilesections.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/instagrams.@@hash.js"></script>-->


        <!-- VIEWS -->
        <!--<script src="{site_url}/build/js/singleviews.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/showcaseviews.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/profileviews.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/filterviews.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/search.@@hash.js"></script>-->
        <!--<script src="{site_url}/build/js/chromeviews.@@hash.js"></script>-->

        <!-- ROUTER -->
        <!--<script src="{site_url}/build/js/routes.@@hash.js"></script>-->

        <!-- INIT -->
        <!--<script src="{site_url}/build/js/app.@@hash.js"></script>-->

        {if segment_1=='projects'}
        <script>
            //PA.projects.reset()
        </script>
        {/if}

        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
