        </div> <!-- .outer-wrapper -->
        
        <!-- LIBRARIES -->
        <script src="{site_url}/lib/requirejs/require.min.js"></script>
        <script src="{site_url}/lib/vendor/underscore.js"></script>
        <script src="{site_url}/lib/vendor/moment.min.js"></script>
        <script src="{site_url}/lib/vendor/json2.js"></script>
        <script src="{site_url}/lib/vendor/jquery.js"></script>
        <script src="{site_url}/lib/vendor/backbone.js"></script>
        <!--<script src="{site_url}/lib/vendor/backbone.localStorage-min.js"></script>-->
        <!--<script src="{site_url}/lib/vendor/backbone.fetch-cache.min.js"></script>-->
        <script src="{site_url}/lib/isotope/jquery.isotope.min.js"></script>
        <script src="{site_url}/lib/fancybox/jquery.fancybox.js"></script>
        <script src="{site_url}/lib/bbq/jquery.ba-bbq.no-legacy.js"></script>
        <script src="{site_url}/lib/foundation/foundation.js"></script>
        <script src="{site_url}/lib/foundation/foundation.tooltips.js"></script>
        <script>
            $(document).foundation()
        </script>

        <script src="{site_url}/build/js/utils.137911312918112843.js"></script>

        {if segment_1 == ''}
        <script src="{site_url}/build/js/quotes.137911312918112843.js"></script>
        <script>
            checkQuoteHeight()
        </script>
        {/if}

        <script src="{site_url}/build/js/starfield.137911312918112843.js"></script>

        <?php
            $p = null;
            if ( isset($_SERVER['QUERY_STRING']) ) { $p = $_SERVER['QUERY_STRING']; }

            switch ($p) {
                case 1:
                case 2:
                case 3:
                case 4:
        ?>
        <script src="{site_url}/build/js/isoRTL.137911312918112843.js"></script>
        <?php
                break;
                default:
        ?>
        <script src="{site_url}/build/js/iso.137911312918112843.js"></script>
        <?php 
                break; 
        } ?>

        <script src="{site_url}/build/js/jst.137911312918112843.js"></script>

        <!-- MODELS -->
        <script src="{site_url}/build/js/page.137911312918112843.js"></script>
        <script src="{site_url}/build/js/album.137911312918112843.js"></script>
        <script src="{site_url}/build/js/cover.137911312918112843.js"></script>
        <script src="{site_url}/build/js/film.137911312918112843.js"></script>
        <script src="{site_url}/build/js/project.137911312918112843.js"></script>
        <script src="{site_url}/build/js/showcase.137911312918112843.js"></script>
        <script src="{site_url}/build/js/profilesection.137911312918112843.js"></script>
        <script src="{site_url}/build/js/searchquery.137911312918112843.js"></script>

        <!-- COLLECTIONS -->
        <script src="{site_url}/build/js/albums.137911312918112843.js"></script>
        <script src="{site_url}/build/js/covergallery.137911312918112843.js"></script>
        <script src="{site_url}/build/js/films.137911312918112843.js"></script>
        <script src="{site_url}/build/js/projects.137911312918112843.js"></script>
        <script src="{site_url}/build/js/showcases.137911312918112843.js"></script>
        <script src="{site_url}/build/js/profilesections.137911312918112843.js"></script>
        <script src="{site_url}/build/js/instagrams.137911312918112843.js"></script>


        <!-- VIEWS -->
        <script src="{site_url}/build/js/singleviews.137911312918112843.js"></script>
        <script src="{site_url}/build/js/showcaseviews.137911312918112843.js"></script>
        <script src="{site_url}/build/js/profileviews.137911312918112843.js"></script>
        <script src="{site_url}/build/js/filterviews.137911312918112843.js"></script>
        <script src="{site_url}/build/js/search.137911312918112843.js"></script>
        <script src="{site_url}/build/js/chromeviews.137911312918112843.js"></script>

        <!-- ROUTER -->
        <script src="{site_url}/build/js/routes.137911312918112843.js"></script>

        <!-- INIT -->
        <script src="{site_url}/build/js/app.137911312918112843.js"></script>

        {if segment_1=='projects'}
        <script>
            PA.projects.reset({embed='/api/projects/'})
        </script>
        {/if}

        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
