        </div> <!-- .outer-wrapper -->
        
        <!-- LIBRARIES -->
        <script src="{site_url}/lib/vendor/underscore.js"></script>
        <script src="{site_url}/lib/vendor/moment.min.js"></script>
        <script src="{site_url}/lib/vendor/json2.js"></script>
        <script src="{site_url}/lib/vendor/jquery.js"></script>
        <script src="{site_url}/lib/vendor/backbone.js"></script>
        <!--<script src="{site_url}/lib/vendor/backbone.localStorage-min.js"></script>-->
        <!--<script src="{site_url}/lib/vendor/backbone.fetch-cache.min.js"></script>-->
        <script src="{site_url}/lib/isotope/jquery.isotope.min.js"></script>
        <script src="{site_url}/lib/fancybox/jquery.fancybox.js"></script>
        <script src="{site_url}/lib/bbq/jquery.ba-bbq.no-legacy.js"></script>
        <script src="{site_url}/lib/foundation/foundation.js"></script>
        <script src="{site_url}/lib/foundation/foundation.tooltips.js"></script>
        <script>
            $(document).foundation()
        </script>

        <script src="{site_url}/build/js/utils.js"></script>

        {if segment_1 == ''}
        <script src="{site_url}/build/js/quotes.js"></script>
        <script>
            checkQuoteHeight()
        </script>
        {/if}

        <script src="{site_url}/build/js/starfield.js"></script>

        <?php
            $p = null;
            if ( isset($_SERVER['QUERY_STRING']) ) { $p = $_SERVER['QUERY_STRING']; }

            switch ($p) {
                case 1:
                case 2:
                case 3:
                case 4:
        ?>
        <script src="{site_url}/build/js/isoRTL.js"></script>
        <?php
                break;
                default:
        ?>
        <script src="{site_url}/build/js/iso.js"></script>
        <?php 
                break; 
        } ?>

        <script src="{site_url}/build/js/jst.js"></script>

        <!-- MODELS -->
        <script src="{site_url}/build/js/page.js"></script>
        <script src="{site_url}/build/js/album.js"></script>
        <script src="{site_url}/build/js/cover.js"></script>
        <script src="{site_url}/build/js/film.js"></script>
        <script src="{site_url}/build/js/project.js"></script>
        <script src="{site_url}/build/js/showcase.js"></script>
        <script src="{site_url}/build/js/profilesection.js"></script>
        <script src="{site_url}/build/js/searchquery.js"></script>

        <!-- COLLECTIONS -->
        <script src="{site_url}/build/js/albums.js"></script>
        <script src="{site_url}/build/js/covergallery.js"></script>
        <script src="{site_url}/build/js/films.js"></script>
        <script src="{site_url}/build/js/projects.js"></script>
        <script src="{site_url}/build/js/showcases.js"></script>
        <script src="{site_url}/build/js/profilesections.js"></script>
        <script src="{site_url}/build/js/instagrams.js"></script>


        <!-- VIEWS -->
        <script src="{site_url}/build/js/singleviews.js"></script>
        <script src="{site_url}/build/js/showcaseviews.js"></script>
        <script src="{site_url}/build/js/profileviews.js"></script>
        <script src="{site_url}/build/js/filterviews.js"></script>
        <script src="{site_url}/build/js/search.js"></script>
        <script src="{site_url}/build/js/chromeviews.js"></script>

        <!-- ROUTER -->
        <script src="{site_url}/build/js/routes.js"></script>

        <!-- INIT -->
        <script src="{site_url}/build/js/app.js"></script>

        {if segment_1=='projects'}
        <script>
            PA.projects.reset({embed='/api/projects/'})
        </script>
        {/if}

        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
