<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Peter Arnell</title>

        <link href="{site_url}/js/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="{site_url}/js/lib/jscrollpane/jquery.jscrollpane.css" rel="stylesheet">
        <link href="{site_url}/css/app.1380130432160284222.css" rel="stylesheet">
    
        <script src="{site_url}/js/lib/modernizr/custom.modernizr.js"></script>
        <script data-main="{site_url}/js/init.1380130432160284222.js" src="{site_url}/js/lib/requirejs/require.min.js"></script>
    </head>
    <body>
        <div class="header-wrapper">
            <div class="inner-header">
                <header class="site-header{if segment_1==''} home{/if}">
                <h1 class="logo"><a href="{site_url}">Peter Arnell</a></h1>
                    <nav>
                        <h2 class="visuallyhidden">Main Navigation</h2>
                        <ul>
                            <li><a href="{site_url}"{if embed:nav == 'home'} class="active"{/if}>Home</a></li>
                            <li><a href="{path='projects'}"{if embed:nav=='projects'} class="active"{/if}>Projects</a></li>
                            <li><a href="{path='photography'}"{if embed:nav=='photography'} class="active"{/if}>Photography</a></li>
                            <li><a href="{path='film'}"{if embed:nav=='film'} class="active"{/if}>Film</a></li>
                            <li><a href="{path='profile'}"{if embed:nav=='profile'} class="active"{/if}>Profile</a></li>
                            <li><a href="{path='contact'}"{if embed:nav=='contact'} class="active"{/if}>Contact</a></li>
                            <li><a href="{path='stream'}"{if embed:nav=='stream'} class="active"{/if}>Stream</a></li>
                            <li><a href="#" id="searchIcon" class="search-icon"></a></li>
                        </ul>
                        <form method="post" action="{path='api/search'}" class="search-form" id="searchForm">
                            <div class="table-wrapper">
                                <div class="cell-wrapper">
                                    <input id="keywords" class="search" type="search" name="keywords" id="keywords" />
                                    <button class="submit-search button" id="submitSearch" type="submit">Search</button>
                                    <button class="cancel-search button" id="cancelSearch" type="button">Cancel</button>
                                    <fieldset>
                                        <legend>Advanced Search</legend>
                                        <label><input type="checkbox" id="search:projects">Projects</label>
                                        <label><input type="checkbox" id="search:photography">Photography</label>
                                        <label><input type="checkbox" id="search:film">Film</label>
                                        <label><input type="checkbox" id="search:press">Press</label>
                                        <label><input type="checkbox" id="search:paAuthor">Articles by Peter</label>
                                        <label><input type="checkbox" id="search:paSubject">Articles about Peter</label>
                                        <label><input type="checkbox" id="search:allArticles">All Articles</label>
                                        <label><input type="checkbox" id="search:interviews">Interviews</label>
                                        <label><input type="checkbox" id="search:transcripts">Transcripts</label>
                                    </fieldset>
                                </div> <!-- .cell-wrapper -->
                            </div> <!-- .table-wrapper -->
                        </form> 
                    </nav>
                    <div id="filter-bar"></div>
                </header> <!-- .site-header -->
            </div> <!-- .inner-header -->
        </div> <!-- .header-wrapper -->
        <div class="outer-wrapper">
            <div class="page {embed:nav}">                         
