<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Peter Arnell</title>

        <link href="{site_url}/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="{site_url}/lib/jscrollpane/jquery.jscrollpane.css" rel="stylesheet">
        <link href="{site_url}/build/css/app.css" rel="stylesheet">
    
        <script src="{site_url}/lib/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <div class="header-wrapper">
            <div class="inner-header">
                <header class="site-header">
                <h1 class="logo"><a href="{site_url}">Peter Arnell</a></h1>
                    <nav>
                        <h2 class="visuallyhidden">Main Navigation</h2>
                        <ul>
                            <li><a href="{site_url}"{if embed:nav == 'home'} class="active"{/if}>Home</a></li>
                            <li><a href="{path='projects'}"{if embed:nav=='projects'} class="active"{/if}>Projects</a></li>
                            <li><a href="{path='photography'}"{if embed:nav=='photography'} class="active"{/if}>Photography</a></li>
                            <li><a href="{path='film'}"{if embed:nav=='film'} class="active"{/if}>Film</a></li>
                            <li><a href="{path='profile'}"{if embed:nav=='profile'} class="active"{/if}>Profile</a></li>
                            <li><a href="{path='contact'}"{if embed:nav=='contact'} class="active"{/if}>Contact</a></li>
                            <li><a href="{path='stream'}"{if embed:nav=='stream'} class="active"{/if}>Stream</a></li>
                            <li><a href="#" id="searchIcon" class="search-icon"></a></li>
                        </ul>
                        {exp:search:simple_form channel="profile_awards" form_class="search-form" form_id="searchForm" status="published" result_page="{site_url}/api/search" where="all" search_in="titles"}
                            <div class="table-wrapper">
                                <div class="cell-wrapper">
                                    <input id="searchInput" class="search" type="search" name="keywords">
                                    <button class="cancel-search button" id="cancelSearch" type="button">Cancel</button>
                                </div> <!-- .cell-wrapper -->
                            </div> <!-- .table-wrapper -->
                        {/exp:search:simple_form}
                    </nav>
                    {!-- embed="includes/filter-bar" nav="{embed:nav}" --}
                </header> <!-- .site-header -->
            </div> <!-- .inner-header -->
        </div> <!-- .header-wrapper -->
        <div class="outer-wrapper">
            <div class="page">
