    <div class="n-wrapper{if segment_1==''} home{/if}">
        <section class="n-container" id="n-container">
            <header>
                <h2><a href="#n-container">Noteworthy</a></h2>
            </header>
            <div class="row">
                <!--<article class="brick">-->
                    <!--<div class="img">-->
                      <!--[> <img src="http://placekitten.com/80/250" alt="" /><]-->
                    <!--</div>-->
                    <!--<div class="copy">-->
                        <!--<h3>Headline Goes here</h3>-->
                        <!--<p>Some summary text about this post</p>-->
                    <!--</div>-->
                <!--</article>-->
                <article class="brick">
                    <div class="img">
                        <img src="http://placekitten.com/80/250" alt="" />
                    </div>
                    <div class="copy">
                        <h3>Headline Goes Here</h3>
                        <p>Longer summary text so we can seee how long summary text ought to go. Theq uick brown fox jumped over the lazy sleeping dog.</p>
                    </div>
                </article>
                <article class="brick">
                    <div class="img">
                        <img src="http://placekitten.com/280/200" alt="" />
                    </div>
                    <div class="copy">
                        <h3>A Headline that goes pretty long just so we can see.</h3>
                        <p>Short summary.</p>
                    </div>
                </article>
                <article class="brick">
                    <div class="img">
                        <img src="http://placekitten.com/380/150" alt="" />
                    </div>
                    <div class="copy">
                        <h3>Short Headline.</h3>
                        <p>Short summary.</p>
                    </div>
                </article>
            </div>
        </section> <!-- .n-container -->
    </div> <!-- .n-wrapper -->
