{exp:low_reorder:entries set="quote-slides" fallback="yes" limit="4" disable="categories|member_data|pagination"}

{if count == '1'}
<div class="n-wrapper home">
    <section class="n-container" id="n-container">
        <header>
            <h2><a href="#n-container">Noteworthy</a></h2>
        </header>
        <div class="row" id="brickRow">
            <?php
                $total = '{total_results}';
            ?>
            {/if}

            <article class="brick">
                <div class="img">
                    {noteworthy-image}
                    <?php
                        switch($total) {
                            case "4":
                                echo '<img src="{image:url:one-quarter}">';
                                break;
                            case "3":
                                echo '<img src="{image:url:one-third}">';
                                break;
                            case "2":
                            case "1":
                                echo '<img src="{image:url:one-half}">';
                                break;
                            default:
                                break;
                        }
                    ?>
                    {/noteworthy-image}
                </div> <!-- .img -->
                <a href="{noteworthy-link}"{if noteworthy-external} target="_blank"{/if}>
                    <div class="copy">
                        <h3>{title}</h3>
                        {summary}
                    </div> <!-- .copy -->
                </a>
            </article> <!-- .brick -->

        {if count == total_results}        
        </div> <!-- .row -->
    </section> <!-- .n-container -->
</div> <!-- .n-wrapper -->
{/if}

{/exp:low_reorder:entries}
