{exp:ce_cache:stat:ic seconds="86400"}
<div class="quotes" id="quotes">
    <div class="container" id="container">
    {exp:channel:entries channel="quotes" limit="10"}
        <div class="slide">
            <h3>
                {lines}
                <div class="blind closed">{item}</div>
                {/lines}

                {if button_quotes}
                <a href="{link-url_quotes}" class="button closed"{if external_quote} target="_blank"{/if}>{button_quotes}</a>
                {/if}
            </h3>
        </div> <!--slide-->
    {/exp:channel:entries}
    <div class="indicators" id="bullets"></div>
    </div> <!-- .container -->
</div> <!-- quotes -->
