//
// Fixed Photo Grid
//

$column-gutter: emCalc(7);

.photo-grid {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    font-size: 0px;
    min-height: 100%;
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.gap {
    display: inline-block;
    width: 25%;
}

.photo-cell {
    width: 25%;
    padding: 3px;
    vertical-align: top;
    display: none;

    .img {
        position: relative;

        .photography &,
        .books & { 
            height: 216px;
        }
    }
    a { display: block; }

    .film & .img:before {
        @include icons-sprite(play);
        content: '';
        position: absolute;
        width: 76px;
        height: 43px;
        left: 50%;
        margin-left: -38px;
        top: 50%;
        margin-top: -22px;
    }

    .film &:hover .img:before {
        @include icons-sprite(play-hover);
    }
}

$column-gutter: emCalc(17);

.photo-cell {

    h3 {
        font-size: emCalc(19);
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 0.75em;
        text-align: left;
    }
    a p { 
        font-size: emCalc(13);
        font-weight: 300;
        line-height: 1.2;
        color: $primary-color;
        text-align: left;
    }
}
