//
// GLOBAL
//

a, a * { @include transition(color 450ms ease-out); }

a:hover, a:hover * { @include transition(color 150ms ease); }

a:hover * {
    color: $secondary-color;
}

a:focus { color: auto; }
.active { color: $gray; }
  
.touch {
    a:hover,
    a:hover * {
        color: inherit !important;
        @include transition( none );
    }
}

html {
    height: 100%;

    &.no-touch {
        min-width: 1000px;

        body {
            min-width: 1000px;
        }
    }

    body {
        height: 100%;
    }
}

.loader {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 8030;

    .table {
        display: table;
        width: 100%;
        height: 100%;
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    span {
        background: image-url('loader.gif') no-repeat;
        width: 32px;
        height: 32px;
        display: inline-block;
    }
}

.loaded { opacity: 1 !important; }

iframe {
    width: 100%;
    height: 490px;
}

//
// HEADER
//

.header-wrapper {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 4;

    &.shadow { @include box-shadow(0 2px 30px -10px rgba(0,0,0,0.1)); }
}

.inner-header {
    max-width: 1280px;
    margin: 0 auto;
    padding: emCalc(37);

    &.profile { padding-bottom: 0; }
}

.site-header {
    width: 100%;
    max-width: 1190px;
    min-width: 850px;
    margin: 0 auto;
    background: white;
    @include transition( opacity 300ms ease-in );

    &.home { opacity: 0; }
    
    .logo {
        //@include grid-column(4,$collapse: true);
        float: left;
        font-size: emCalc(19);
        font-weight: 500;
        line-height: 1;
        a { color: $secondary-color; }
        a:hover { color: $gray; }
        //padding-left: 0;
    }

    nav { 
        //@include grid-column(8, $float: right, $collapse: true);
        float: right;
        font-weight: 500;
        font-size: emCalc(19);
        width: 660px;
        a:hover { color: $secondary-color; }

        ul { 
            @include inline-list;
            float: left;
            margin: 0;
            > li { 
                line-height: 1.5;
                margin-left: 15px; }
            li:first-child { margin-left: 0; }
        }
    }

    // TO BE STYLED LATER
    .search-icon {
        margin-top: 7px;
    }
}

.outer-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    //height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @include transition(opacity 150ms ease);
}

.page {
    padding: 110px emCalc(37) emCalc(35);
    //height: 100%;
    position: relative;
    overflow: visible;

    &.home { 
        //z-index: 4;
        padding-top: 70px;
        padding-bottom: 55px;
        height: 100%;
        overflow: hidden;
        @include transition(padding 150ms ease);
    }

    &.photography,
    &.books,
    &.film,
    &.projects {
        padding-top: 192px;
        //overflow: hidden;
        padding-bottom: 105px;
        height: 100%;
    }
}

//
// HOME
//

// Noteworthy layout & animation
.n-wrapper {
    width: 100%;
    max-width: 1280px;
    //z-index: 1;
    position: relative;
    //bottom: 0;
    //left: 0;
    //right: 0;
    //margin: 0 auto;
    //padding: 0 2rem;

    @include transition( opacity 300ms ease-in );

    &.home { opacity: 0; }
}

.n-container {
    bottom: 0;
    border-top: 1px $gray solid;
    background: white;

    @include grid-row(collapse);
    @include translate3d( 0, 0, 0 );
    @include transition(transform 150ms ease);

    margin: 0 auto;

    &.open { 
        @include translate3d( 0, 0px, 0 );
        h2:before { content:"-"; }

        .row { opacity: 1; }
    }

    header { 
        @include grid-row(collapse);
        padding-top: 1em;
        padding-bottom: 1em;
        // Fixes Mobile Safari 'div seam' artifact
        margin: -1px;

        &:hover { 
            a,
            h2:before { color: red; }
        }
    }

    h2 { 
        @include grid-column(2);
        &:before {
            content: "+";
            display: inline-block;
            margin-right: 5px;
            @include transition(color 450ms ease-out);
        }
    }

    .row {
        opacity: 0;
        padding-bottom: emCalc(35);
        @include transition(opacity 150ms ease);
    }

    //.row.one .brick { @include grid-column(6, $center: true); }
    .row.one, .row.two .brick { @include grid-column(6); }
    .row.three .brick { @include grid-column(4); }
    .row.four .brick { @include grid-column(3); }
    // bricks are in an html defined row
    .brick {
        height: 150px;
        position: relative;

        .copy {
            padding: 1em;
            height: 100%;
            background: black;
            @include transition(box-shadow 150ms ease);
        }

        .img { 
            @include grid-column(12);
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            // z-index: -1;
            pointer-events: none;
            @include translate3d(0,-100%,0);
            @include backface-visibility(hidden);
        }

        img {
            max-width: 100%;
            opacity: 0;
            @include transition(box-shadow 150ms ease, opacity 150ms ease);
        }

        &:hover { 

            .copy {
                background: white;
                @include box-shadow(0 5px 30px 0px rgba(0,0,0,0.1));
            }

            img {
                opacity: 1;
                @include box-shadow(0 5px 30px 2px rgba(0,0,0,0.1));
            }
        }
    }

}

// Noteworthy type
.n-container {

    h2 {
        font-size: emCalc(13);
        font-weight: 500;
    }

    h3 {
        font-size: emCalc(19);
        font-weight: 500;
        line-height: 1.2;
    }

    p, h3 {
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @include rotate(0);
    }

    p { 
        font-size: emCalc(13);
        line-height: 1.2;
    }

    .brick:hover {
        p,h3 {
            color: black;
        }
    }
}

//
// FILTERS
//

.filter-bar {
    @include grid-row(collapse);
    text-align: right;
    clear: both;
    padding-top: 2em;
    background: white;

    button {
        padding: 0;
        margin: 0;
    }

    .wrapper {
        text-align: left;
        margin-bottom: 0.75em;
    }
}

.profile.filter-bar {
    padding: 0;
}

.filter {
    @include grid-column(1, $collapse: true);
    width: auto;
    margin-left: -10px;
    margin-right: 20px;
    position: relative;

    h3 {
        display: inline-block;
        margin: 0;
        padding: 0.75em;
        cursor: pointer; 
    }

    .controls {
        overflow: hidden;
        margin: 0.3rem 0.75rem;
    }
    
    .close { float: right; }

    .wrapper {
        min-width: 268px;
        position: absolute;
        padding: 0.5rem 0 1rem;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        background: white;
        @include transition(opacity 150ms ease);
        @include box-shadow(0 6px 10px rgba(0,0,0,0.25));
    }

    ul {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 390px;
        margin: 0;
        padding: 0 16px 0 12px;
    }

    &.open {
        h3 { 
            background: white;
            @include box-shadow(0 3px 10px rgba(0,0,0,0.25));
        }
        .wrapper {
            opacity: 1;
            z-index: 3;
            pointer-events: auto;
        }
    }

}

.brand {
    .name { opacity: 0; }
    .icon { 
        opacity: 0;
        
        a {
            display: block; 
            text-align: center; 
        }
    }

    .name,
    .icon {
        @include transition(opacity 150ms ease);
        text-align: left;
    }
    .names {
        img {display:none;} 

        .name {
            opacity: 1;
        }
    }

    .icons {
        h4 { display: none; }

        width: 508px;
        //width: 100%;
        li {
            width: 80px;
            height: 45px;
            //width: 16.66667%;
            float: left;
            margin-bottom: 5px;
            padding: 0 5px;
        }
        .icon {
            opacity: 1;
        }
    }

}

.view-all {
    @extend .filter;
    h3 { padding: 0; }
    a { 
        display: block;
        padding: 0.75em;
    }
}

.views,
.jumps,
.sorts {
    @extend .filter;
    float: right;
}

.sorts,
.views {
    button {
        display: block;
        text-align: left;
        line-height: inherit;
        width: 100%;
    }

    //ul { overflow: hidden; }
}

.jumps {
    select.date,
    select.name {
        font-size: emCalc(12);
        font-weight: 400;
    }
    .name,
    .date { 
        display: none;
        &.show { display: block; } 
    }

    .wrapper {
        min-width: 0;
        width: 100%;
    }

    .touch .profile & {
        padding: 0.75em;
    }


}


.sorts {
    margin-right: -0.8em;
    margin-left: 0.5em;

    h3 { padding: 0.75em 1em; }
    h4 {
        color: gray;
        font-size: emCalc(13);
        padding: 0 1em;
    }

    .wrapper {
        right: 0;
        min-width: 80px;
        width: 100%;
    }

    .wrapper ul:first-child {
        margin-bottom: 1em;
    }

    .name,
    .date { 
        display: none;
        &.active { display: block; } 
    }

    button { padding: 0; }
    li { line-height: 1.3; }
}

.views {
    margin-right: 5px;

    button {
        padding-left: 1.5em;
        line-height: 1.5;
    }

    .wrapper {
        left: 0;
        min-width: 150px;
    }
}

.controls { 
    
    .views {
        float: left;
        margin: 0;

        button {
            display: inline-block;
            width: auto;
            padding-left: 0;
            &:focus,
            &:active {
                @include box-shadow(none);
            }
        }

        button.active {
            &:focus,
            &:active {
                @include box-shadow(none);
            }
        }
    }

    .icon-view:before,
    .title-view:before {
        margin-top: 0;
        margin-left: 0;
        position: relative;
    }

    .title-view:before {
        //margin-bottom: 1px;
    }
}


// FILTER TYPE

.filter {
    h3 {
        color: $primary-color;
        font-size: emCalc(13);
        font-weight: 500;
        @include transition(color 150ms ease);

        &:hover { color: $secondary-color; }
    }

    &.open h3 { color: $secondary-color; }

    ul .icon,
    ul .name {
        font-size: emCalc(19);
        font-weight: 500;
        margin: 0;
    }

    button:focus { 
        outline: none; 
    }
    button.active:focus {
        color: $gray;
        @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.2) inset);
    }
}

.jumps a,
.sorts a {
    font-size: emCalc(19);
    font-weight: 500;
    margin: 0;
}

.views,
.sorts {
    button {
        font-size: emCalc(19);
        background: none;
        &:hover { color: $secondary-color; }
    }
}

//
// CONTACT
//

.contact {
    display: table;
    height: 100%;
    width: 100%;

    .wrapper {
        display:table-cell;
        vertical-align: middle;
    }

    h3 {
        margin: 0px;
        line-height: 1;
        font-size: emCalc(50); }
}

//
// SINGLE VIEW TEMPLATE
//

// layout
.viewer {
    @include grid-row(collapse);
    max-width: 1190px;
    margin: 0 auto;
}

.details {
    @include grid-column(3);
    position: fixed;
    max-width: 298px;
    min-width: 275px;
    height: 100%;
    padding-left: 0;
    overflow-y: auto;
    padding-bottom: 7em;

    header,
    .summary,
    ul { margin-bottom: 1.5rem; }

    // .type and .links are nested in .row defined in the markup
    .tags > li { line-height: 1.2; }
    .type {
        @include grid-column(4.5, $collapse: true);
    }
    .links { 
        @include grid-column(7.5, $collapse: true);
    }

    .touch & {
        min-width: 0;
    }
}

.container {
    //@include grid-row(collapse);
    //max-width: 1190px;
    //margin: 0 auto;

    //.viewer & {
        @include grid-column(8.7, $float: right, $collapse: true);
        max-width: 854px;
    //}
}

.viewer,
.container {
    .back {
        display: block;
        font-size: emCalc(19);
        font-weight: 300;
        margin-bottom: 1em;

        &:before {
            content: "<";
            color: red;
            display: inline;
            vertical-align: text-top;
            margin-right: 0.5em;
        }

        &:hover {
            color: $secondary-color;
        }
    }
}

// type
.details {

    //header { margin-bottom: 1.75em; }
    h3, time { font-size: emCalc(19); }
    h3 { 
        margin: 0;
        margin-bottom: 0.25em;
        line-height: 1;
    }

    time { 
        display: block;
        font-weight: 300;
    }

    p {
        font-size: emCalc(19);
        font-weight: 300;
        line-height: 1.4;
    }
}

.showcase-links,
.profile-links {
    font-size: emCalc(19);
    font-weight: 500;
    line-height: 1.2;
}

.tags {
    font-size: emCalc(13);
}

.type {
    font-weight: 300;
}

.links {
    font-weight: 500;
}

.profile {
    .details {
        -webkit-transform: translateZ(0); // fixes disappearing links after animation
        li { line-height: 1.3; }
    }
}

@media (max-width: 1024px) {
    .header-wrapper {
        position: relative;
        // safari artifacts
        padding-bottom: 2px;
    }

    .inner-header {
        // safari artifacts
        margin-bottom: -3px;
    }

    .views,
    .jumps,
    .sorts {
        margin-left: 0;
        margin-right: 0.5em;
    }
    .page,
    .page.projects {
        //padding-top: 1em;
    }

    .viewer {
        //padding-top: 60px;
    }

    // .n-wrapper {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     margin: 0 auto;
    // }
    // 
    // .n-container {
    //     position: relative;
    //     @include translate3d( 0, 77%, 0 );

    //     &.open {
    //         @include translate3d( 0, 0, 0 );
    //     }
    // }

}
