//
// COLORS
//

$gray: #999999;
$light-gray: #E0E0E0;

//
// MIXINS
//

@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

@mixin thin-removal {
// Fixes thin gray lines on mobile safari
    margin: -1px;
    padding: 1px;
}

//
// BUTTONS N ANIMATION HELPERS
//

button {
    background: $light-gray;
}

.quotes {
    height: 100%;
    @include transition(height 150ms ease);

    &.short { height: 66%; }
    &.small h3 { font-size: emCalc(10); }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    .container .button {
        //position: absolute;
        //bottom: 0;
        //left: 0;
        margin: 0;
        margin-top: 2rem;
        @include transition(opacity 2000ms ease-out);

        &:before { content: ">"; }
        &.closed { opacity: 0; }
        &.opened { opacity: 1; }
    }

    .slide {
        display: table;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        img { 
            margin: auto 0;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            max-height: 100%;}
    }

    h3 {
        display: table-cell;
        vertical-align: middle;
        font-size: emCalc(10);
        @include transition(font-size 150ms ease);

        &.image { display: block; }
    }

    .indicators {
        z-index: 2; 
        opacity: 0;
        @include transition( opacity 300ms ease-in );
    }

    .indicators ul { overflow: auto; }

}



.blind { 
    font-size: 3em;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    min-height: 25px;
    line-height: 1;
    min-width: 659px;
    @include transition(opacity 2000ms ease-out);
}


.opened {
    opacity: 1;
    z-index: 1;
}

.closed {
    opacity: 0;
    z-index: 0;
}

.slide.closed {
    z-index: -1;
}

.button.opened {
    z-index: auto;
}

.indicators {
    position: absolute;
    left: 0.4em;
    bottom: 1em;
    // Fixes mobile safari 'div seam'
    margin: -1px;

    ul {
        // Fixes mobile safari 'div seam'
        margin: -1px;
        margin-bottom: -6px;
        padding: 0;
        background: black;
        z-index: 0;
        position: relative;
        //overflow: hidden;
    }
    li {
        background: image-url('small-mask.png');
        float: left; 
        width: 17px;
        height: 12px;
    }
    li a {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.dot {
    position: absolute;
    z-index: -1;
    width: 12px;
    height: 12px;
    background: red;
    @include border-radius(6px);
}

.active-slide a {
    color: red;
}

//
// SEARCH
//

.search-form {
    display: none; 
    background: white;
    opacity: 0;
    @include transition(opacity 150ms ease);
}

.search-form.active {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.95;

    .table-wrapper { 
        display: table;
        width: 100%;
        height: 100%;
    }
    .cell-wrapper {
        display: table-cell; 
        vertical-align: middle;
        padding: 0 3em;
    }

    .search {
        width: 100%;
        padding: 0;
        border: 0;
        outline: none;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 1rem;
        font-size: 5rem;
        @include appearance(none);
    }

    .submit-search,
    .cancel-search {
        outline: none;
        background: #e0e0e0;

        &:hover {
            background: red;
            color: white;
        }
    }
}


//
// SHOWCASES
//

//.showcase { @include grid-column(12, $collapse:true); }

//
// SPRITES
//

@import "icons/*.png";

.search-icon {
    @include icons-sprite(search);
    width: 13px;
    height: 17px;
}

.filter h3:after {
    @include icons-sprite(down-arrow);
    width: 7px;
    height: 4px;
    content: '';
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 3px;
}

.filter h3:hover:after,
.filter.open h3:after {
    @include icons-sprite(down-arrow-red);
}

.view-all h3:after {
    content: none;
}

.icon-view {
    
    &:before {
        @include icons-sprite(icon-view);
        width: 16px;
        height: 15px;
        content: '';
        display: inline-block;
        margin-top: 7px;
        position: absolute;
        left: 0;
    }

    &:hover:before {
        @include icons-sprite(icon-view-hover);
    }

    &.active:before {
        @include icons-sprite(icon-view-selected);
    }
}

.title-view {
    
    &:before {
        @include icons-sprite(title-view);
        width: 17px;
        height: 16px;
        content: '';
        display: inline-block;
        margin-top: 6px;
        position: absolute;
        left: -1px;
    }

    &:hover:before {
        @include icons-sprite(title-view-hover);
    }

    &.active:before {
        @include icons-sprite(title-view-selected);
    }
}

.random-view {
    
    &:before {
        @include icons-sprite(random-view);
        width: 17px;
        height: 20px;
        content: '';
        display: inline-block;
        position: absolute;
        left: -1px;
        margin-top: 4px;
    }

    &:hover:before {
        @include icons-sprite(random-view-hover);
    }

    &.active:before {
        @include icons-sprite(random-view-selected);
    }
}

.alpha-sort {
    @include icons-sprite(alpha-sort);
    width: 26px;
    height: 8px;

    &:hover {
        @include icons-sprite(alpha-sort-hover);
    }

    &.active {
        @include icons-sprite(alpha-sort-selected);
    }
}

.date-sort {
    @include icons-sprite(date-sort);
    width: 21px;
    height: 8px;

    &:hover {
        @include icons-sprite(date-sort-hover);
    }

    &.active {
        @include icons-sprite(date-sort-selected);
    }
}

.close { 
    font-size: emCalc(19);
    font-weight: 100;

    span {
        color: $secondary-color;
    }
    
    &:hover {
        color: $secondary-color;
    }
}

.film-row .img:before {
    @include icons-sprite(play);
    content: '';
    position: absolute;
    width: 76px;
    height: 43px;
    left: 50%;
    margin-left: -38px;
    top: 50%;
    margin-top: -22px;
}

.film-row > div:hover .img:before {
    @include icons-sprite(play-hover);
}

//
// ISOTOPE
//

// smooth out filtering

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

// CSS3 TRANSITIONS

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.rtl .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
     -moz-transition-property: right, top, -moz-transform, opacity;
      -ms-transition-property: right, top, -ms-transform, opacity;
       -o-transition-property: right, top, -o-transform, opacity;
          transition-property: right, top, transform, opacity;
}

// CSS3 TRANSITION FALLBACKS

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

//
// FANCYBOX
//

#fancybox-lock {
    .logo {
        position: fixed;
        top: 39px;
        left: 39px;
        margin: 0;
        line-height: 0.8;
        z-index: 1;
        cursor: pointer;
        font-size: emCalc(19);
        font-weight: 500;
        line-height: 1;

        a { color: $secondary-color; }
        a:hover { color: $gray; }
    }
}

.fancybox-skin { @include box-shadow(none); }

.fancybox-wrap { 
    .close {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 8040;
        padding: 39px;
    }
}

a.fancybox-nav {
    display: block;
    float: left;
    margin-right: 10px;
    //position: fixed;
    //width: 20%;
    //z-index: 0;
}

a.fancybox-next span,
a.fancybox-prev span {
    width: 9px;
    height: 16px;
    visibility: visible;
    display: block;
    position: relative;
    margin: 0;
}

a.fancybox-next { 
    span {
        @include icons-sprite(next);
    }
    &:hover span { @include icons-sprite(next-hover); }
}

a.fancybox-prev { 
    span {
        @include icons-sprite(prev);
    }
    &:hover span { @include icons-sprite(prev-hover); }
}

.fancybox-lock .indicators {
    position: fixed;
    left: 3em;
    bottom: 2.6em;
    height: auto;
    z-index: 8040;

    ul {
        //@include thin-removal;
        margin: -1px;
        float: right;
        border-top: 3px solid white;
        //background: none;
        //overflow: visible;
    }

    li { 

        &:hover {
            background: white;
        }
        &:hover a {
            opacity: 1;
        }

        &.active-slide:hover a {
            background: red;
        }
    }

    li a {
        background: black;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        opacity: 0;
        @include translate3d(0,0,0);
        @include transition(transform 100ms ease);
    }
}

.fancybox-title {
    color: $primary-color;
    position: fixed;
    bottom: 3em;
    right: 3em;
    font-size: emCalc(13);
    font-weight: 500;
    text-align: right;
    text-shadow: none;
}

//
// SWIPE
//

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height: 100%;
    z-index: 8030;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
    overflow: auto;
    height: 100%;

    &.on img {
        //opacity: 1;
        //@include transition( opacity 150ms ease );
    }

    .inner-wrap {
        width: 100%;
        position: relative;
        height: 100%;
    }

    img {
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        max-width: 90%;
        max-height: 80%;
        display: none;
        //opacity: 0;
        //@include transition( opacity 50ms ease );
    }
}

@media only screen and (min-width: 1024px) {
    .fancybox-lock .indicators {
        z-index: 8040;

        li:hover a {
            @include translate3d(0, -5px, 0);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .fancybox-lock .outer-wrapper {
        opacity: 0;
    }
    .fancybox-overlay {
        opacity: 0;
        @include transition(opacity 150ms ease);
    }
    .indicators {
        margin-bottom: 20px;

        .fancybox-lock & {
            right: 3em;
        }

        li {
            background: image-url('mask.png');
            width: 55px;
            height: 44px;
            //border-right: 10px solid white;
            //padding-right: 12px;
        }

        a {
            width: 44px;
            height: 44px;
        }
    }

    .dot {
        @include border-radius(22px);
        width: 44px;
        height: 44px;
    }

}

@media only screen and (min-width: 1080px) {
    .quotes h3 {
        font-size: emCalc(15);
    }
}

