@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

.starfield {
    @include perspective(200px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    
   .star {
        position: absolute;
        @include animation-props(15s, starfield, infinite);
        @include translate3d(0,0,0);
        opacity: 0;
        @include transition(box-shadow 250ms ease-out);
        display: block;
    }

    .caption {
        @include translate3d(0,0,0);
        @include transition(opacity 150ms ease, box-shadow 150ms ease);
    }

} 

.star:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
    @include single-box-shadow(rgba(105, 105, 105, 0.3), 5px, 5px, 40px, 0px);

    .caption {
        opacity: 1;
        @include box-shadow(0 0 20px 0 rgba(0,0,0,0.25));
        @include transition(opacity 150ms ease, box-shadow 150ms ease 150ms);
    }
}

@-webkit-keyframes starfield {
    from {
        -webkit-transform: translate3d(0,0,250px);
        opacity: 0;
        z-index: 100;
    }
    15% {
        opacity : 1;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: translate3d(0,0,-25px);
        z-index: 0;
    }
}

@-moz-keyframes starfield {
    from {
        -moz-transform: translate3d(0,0,250px);
        opacity: 0;
        z-index: 100;
    }
    15% {
        opacity : 1;
    }
    50% {
        opacity: 1;
    }
    to {
        -moz-transform: translate3d(0,0,-25px);
        z-index: 0;
    }
}

@keyframes starfield {
    from {
        transform: translate3d(0,0,250px);
        opacity: 0;
        z-index: 100;
    }
    15% {
        opacity : 1;
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translate3d(0,0,-25px);
        z-index: 0;
    }
}
