//
// VIDEO SHOWCASE
//

// LAYOUT

.video.showcase {
    margin: 0 auto;

    > div {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// TYPE

.video-caption {
    width: 60%;

    h3 {
        font-size: emCalc(19);
        font-weight: 500;
        margin-top: 1em;
        margin-bottom: 0;
    }
    p {
        font-size: emCalc(13);
        font-weight: 300;
        line-height: 1.2;
    }

}


