<?php $_GET['template'] = 'profile'; ?>

{embed="includes/header" nav="profile"}

    <div class="profile viewer" id="profileViewer">
        <div class="details">
            <ul class="profile-links" id="profileLinks">
                <li><a href="#" id="bio" class="active">Bio/CV</a></li>
                <li><a href="#" id="press">Press</a></li>
                <li><a href="#" id="awards">Selected Awards</a></li>
                <li><a href="#" id="paPhotos">Photos of PA</a></li>
                <li><a href="#" id="paAuthor">Articles by PA</a></li>
                <li><a href="#" id="paSubject">Articles about PA</a></li>
                <li><a href="#" id="interviews">Interviews</a></li>
                <li><a href="#" id="transcripts">Transcripts</a></li>
                <li><a href="#" id="acknowledgements">Acknowledgements</a></li>
            </ul>
        </div> <!-- .showcase-links -->
        <div class="container" id="showcaseContainer">


        </div> <!-- .container -->

    </div> <!-- .viewer -->

</div> <!-- .page -->
{embed="includes/footer"}
