//
// GLOBAL
//

a, a * { @include transition(color 450ms ease-out); }

a:hover, a:hover * { @include transition(color 150ms ease); }

a:hover * {
    color: $secondary-color;
    //@include transition(color 250ms ease-out); 
}

a:focus { color: auto; }
.active { color: $gray; }

html, body {
    height: 100%;
    min-width: 1000px;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    .table {
        display: table;
        width: 100%;
        height: 100%;
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    span {
        background: url(/assets/img/loader.gif) no-repeat;
        width: 32px;
        height: 32px;
        display: inline-block;
    }
}

iframe {
    width: 100%;
    height: 490px;
}

//
// HEADER
//

.header-wrapper {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 4;

    &.shadow { @include box-shadow(0 2px 30px -10px rgba(0,0,0,0.1)); }
}

.inner-header {
    max-width: 1280px;
    margin: 0 auto;
    padding: emCalc(37);
}

.site-header {
    width: 100%;
    max-width: 1190px;
    min-width: 850px;
    margin: 0 auto;
    background: white;
    @include transition( opacity 300ms ease-in );

    &.home { opacity: 0; }
    
    .logo {
        //@include grid-column(4,$collapse: true);
        float: left;
        font-size: emCalc(19);
        font-weight: 500;
        line-height: 1;
        a { color: $secondary-color; }
        a:hover { color: $gray; }
        //padding-left: 0;
    }

    nav { 
        //@include grid-column(8, $float: right, $collapse: true);
        float: right;
        font-weight: 500;
        font-size: emCalc(19);
        width: 589px;
        a:hover { color: $secondary-color; }

        ul { 
            @include inline-list;
            float: left;
            margin: 0;
            > li { 
                line-height: 1.5;
                margin-left: 15px; }
            li:first-child { margin-left: 0; }
        }
    }

    // TO BE STYLED LATER
    .search-icon {
        margin-top: 7px;
    }
}

.outer-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.page {
    padding: 110px emCalc(37) emCalc(35);
    height: 100%;
    position: relative;
}

.page.projects { padding-top: 192px; }


//
// HOME
//

// Noteworthy layout & animation
.n-wrapper {
    position: fixed;
    width: 100%;
    max-width: 1280px;
    padding: 0 2em;
    @include transition( opacity 300ms ease-in );

    &.home { opacity: 0; }
}

.n-container {
    bottom: 0;
    border-top: 1px $gray solid;
    background: white;

    @include grid-row(collapse);
    @include translate3d(0,-24%,0);
    @include transition(transform 150ms ease);

    margin: 0 auto;

    &.open { 
        @include translate3d(0,-100%,0);
        h2:before { content:"-"; }
    }

    header { 
        @include grid-row(collapse);
        margin-top: 1em;
        margin-bottom: 1em;

    }

    h2 { 
        @include grid-column(2);
        &:before {
            content: "+";
            display: inline-block;
            margin-right: 5px;
        }
    }

    .row {
        padding-bottom: emCalc(35);
    }

    // bricks are in an html defined row
    .brick {
        height: 150px;
        @include grid-column(3);
        @include rotate(0);

        .copy {
            padding: 1em;
            height: 100%;
            background: black;
            @include transition(box-shadow 150ms ease);
        }

        .img { 
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            z-index: -1;
            @include translate3d(0,0,0);
            @include transition(transform 150ms ease);
            @include backface-visibility(hidden);
        }

        img {
            // for now; update to work with variable brick widths
            max-width: 280px;
            opacity: 0;
            @include transition(box-shadow 150ms ease, opacity 150ms ease);
        }

        &:hover { 

            .copy {
                background: white;
                @include box-shadow(0 5px 10px rgba(0,0,0,0.5));
            }

            .img {
                @include translate3d(0,-100%,0);
            }
            img {
                opacity: 1;
                @include box-shadow;
            }
        }
    }

}

// Noteworthy type
.n-container {

    h2 {
        font-size: emCalc(13);
        font-weight: 500;
    }

    h3 {
        font-size: emCalc(19);
        font-weight: 500;
        line-height: 1.2;
    }

    p, h3 {
        color: white;
    }

    p { 
        font-size: emCalc(13);
        line-height: 1.2;
    }

    .brick:hover {
        p,h3 {
            color: black;
        }
    }
}

//
// FILTERS
//

.filter-bar {
    @include grid-row(collapse);
    text-align: right;
    clear: both;
    padding-top: 2em;
    background: white;

    button {
        padding: 0;
        margin: 0;
    }

    .wrapper {
        text-align: left;
        margin-bottom: 0.75em;
    }
}

.profile .filter-bar {
    margin: 0;
}

.filter {
    @include grid-column(1, $collapse: true);
    width: auto;
    margin-left: -10px;
    margin-right: 20px;

    h3 {
        display: inline-block;
        margin: 0;
        padding: 0.75em;
        cursor: pointer; 
    }

    .controls {
        overflow: hidden;
        margin-bottom: 1em;
    }
    
    .close { float: right; }

    .wrapper {
        min-width: 330px;
        position: absolute;
        padding: 0.5em 1em 1em 0.75em;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        background: white;
        @include transition(opacity 150ms ease);
        @include box-shadow(0 6px 10px rgba(0,0,0,0.25));
    }

    ul {
        overflow-y: auto;
        max-height: 390px;
        margin: 0;
        padding: 0;
    }

    &.open {
        h3 { 
            background: white;
            @include box-shadow(0 3px 10px rgba(0,0,0,0.25));
        }
        .wrapper {
            opacity: 1;
            z-index: 3;
            pointer-events: auto;
        }
    }

}

.brand {
    .wrapper {
        max-width: 500px;
    }
    
    .name { opacity: 0; }
    .icon { opacity: 0; }

    .name,
    .icon {
        @include transition(opacity 150ms ease);
        text-align: left;
    }
    .names {
        img {display:none;} 

        .name {
            opacity: 1;
        }
    }

    .icons {
        h4 { display: none; }

        //width: 500px;
        width: 100%;
        li {
            width: 80px;
            height: 45px;
            //width: 16.66667%;
            float: left;
            margin-bottom: 5px;
            padding: 0 5px;
        }
        .icon {
            opacity: 1;
        }
    }

}

.view-all {
    @extend .filter;
    h3 { padding: 0; }
    a { 
        display: block;
        padding: 0.75em;
    }
}

.views,
.sorts,
.jump-to {
    @extend .filter;
    float: right;
}

.sorts,
.views {
    button {
        display: block;
        text-align: left;
        line-height: inherit;
        width: 100%;
        padding-left: 2.5em;
    }

    ul { overflow: hidden; }
}

.sorts {
    margin-right: 0.5em;
    margin-left: 0.5em;

    .wrapper {
        right: 0;
        min-width: 80px;
    }

    button { padding: 0; }
}

.views {
    margin-right: 5px;

    .wrapper {
        left: 0;
        min-width: 150px;
    }
}

.controls { 
    
    .views {
        float: left;
        margin: 0;

        button {
            display: inline-block;
            width: auto;
            padding-left: 0;
        }
    }

    .icon-view:before,
    .title-view:before {
        margin-top: 0;
        margin-left: 0;
        position: relative;
    }

    .title-view:before {
        margin-bottom: 1px;
    }
}

.jump-to {
    margin-right: -10px;
    margin-left: 0;

    .wrapper {
        right: 0;
        min-width: 85px;
    }

    .alphas,
    .dates { display: none; }

    &.alpha .alphas { display: block; }
    &.date .dates { display: block; }
}

// FILTER TYPE

.filter {
    h3 {
        color: $primary-color;
        font-size: emCalc(13);
        font-weight: 500;
        @include transition(color 150ms ease);

        &:hover { color: $secondary-color; }
    }

    &.open h3 { color: $secondary-color; }

    .name,
    .icon,
    .alphas,
    .dates {
        font-size: emCalc(19);
        font-weight: 500;
        margin: 0;
    }

    button:focus { 
        outline: none; 
    }
    button.active:focus {
        color: $gray;
        @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.2) inset);
    }
}

.views,
.sorts {
    button {
        font-size: emCalc(14);
        background: none;
        &:hover { color: $secondary-color; }
    }
}

//
// CONTACT
//

.contact {
    display: table;
    height: 100%;
    width: 100%;

    .wrapper {
        display:table-cell;
        vertical-align: middle;
    }

    h3 {
        margin: 0px;
        line-height: 1;
        font-size: emCalc(50); }
}

//
// SINGLE VIEW TEMPLATE
//

// layout
.viewer {
    @include grid-row(collapse);
    max-width: 1190px;
    margin: 0 auto;
}

.details {
    @include grid-column(3);
    position: fixed;
    max-width: 298px;
    min-width: 275px;
    height: 100%;
    padding-left: 0;
    overflow-y: auto;

    // .type and .links are nested in .row defined in the markup
    .tags > li { line-height: 1.2; }
    .type {
        @include grid-column(4, $collapse: true);
    }
    .links { 
        @include grid-column(8, $collapse: true);
    }

    .wrapper {
        margin-bottom: 7em;
    }

}

.container {
    //@include grid-row(collapse);
    //max-width: 1190px;
    //margin: 0 auto;

    //.viewer & {
        @include grid-column(8.7, $float: right, $collapse: true);
        max-width: 854px;
    //}
}

.viewer,
.container {
    .button {
        background: $light-gray;
        padding-bottom: 13px;
        
        &:before {
            content: "<";
            color: red;
            display: inline;
            vertical-align: text-top;
            margin-right: 0.5em;
        }

        &:hover {
            background: $secondary-color;
            color: white;
            &:before { color: $primary-color; }
        }
    }
}

// type
.details {

    header { margin-bottom: 1.75em; }
    h3, time { font-size: emCalc(19); }
    h3 { 
        margin: 0;
        margin-bottom: 0.5em;
        line-height: 0.7;
    }

    time { 
        display: block;
        font-weight: 300;
    }

    p {
        font-size: emCalc(19);
        font-weight: 300;
        line-height: 1.4;
    }
}

.showcase-links,
.profile-links {
    font-size: emCalc(19);
    font-weight: 500;
    line-height: 1.2;
}

.tags {
    font-size: emCalc(13);
}

.type {
    font-weight: 300;
}

.links {
    font-weight: 500;
}

.profile {
    .details {
        li { line-height: 1.3; }
    }
}

@media (max-width: 1024px) {
    .header-wrapper {
        position: relative;
    }
    .page,
    .page.projects {
        padding-top: 1em;
    }
}
