//
// GLOBAL
//

a { @include transition(color 150ms ease); }
a:hover * {
    color: $secondary-color;
}
a:focus { color: auto; }
.active { color: $gray; }

html, body {
    height: 100%;
}

 .page {
    max-width: 1280px;
    min-width: 1000px;
    margin: 0 auto;
    padding: emCalc(45) emCalc(45) emCalc(35);
    //overflow-y: hidden;
    height: 100%;
}

iframe {
    width: 100%;
    height: 490px;
}

button.red:hover {
    background: $secondary-color;
    color: white;

    &:before {
        color: $primary-color;
    }
}

button.white {
    @include transition(box-shadow 150ms ease);
    @include box-shadow(inset 0 0 0 0 white);
}

button.white:hover {
    background: white;
    @include box-shadow(inset 0 0 1px 1px $gray);
    //border: 1px solid $gray;
    color: $primary-color;

    &:before {
        color: $primary-color;
    }
}

button.black:hover {
    background: $primary-color;
    color: white;

    &:before {
        //color: $primary-color;
    }
}
//
// HEADER
//

header {
    @include grid-row(collapse);

    .logo {
        @include grid-column(4,$collapse: true);
        font-size: emCalc(19);
        font-weight: 500;
        a { color: $secondary-color; }
        a:hover { color: $gray; }
        //padding-left: 0;
    }

    nav { 
        @include grid-column(8, $float: right, $collapse: true);
        font-weight: 500;
        font-size: emCalc(19);
        max-width: 589px;
        a:hover { color: $secondary-color; }
    }

    ul { 
        @include inline-list;
        float: left;
        margin: 0;
        > li { margin-left: 15px; }
        li:first-child { margin-left: 0; }
    }
    
    // TO BE STYLED LATER
    .search-icon {
        margin-top: 7px;
    }
    .search-form { display: none; }
}

//
// HOME
//

// Noteworthy layout & animation
.n-container {
    position: fixed;
    bottom: 0;
    border-top: 1px $gray solid;

    @include grid-row(collapse);
    @include translate3d(0,76%,0);
    @include transition(transform 150ms ease);

    max-width: 1190px;

    &.open { 
        @include translate3d(0,0,0);
        h2:before { content:"-"; }
    }

    header { 
        margin-top: 1em;
        margin-bottom: 1em;

    }

    h2 { 
        @include grid-column(2);
        &:before {
            content: "+";
            display: inline-block;
            margin-right: 5px;
        }
    }

    .row {
        padding-bottom: emCalc(35);
    }

    // bricks are in an html defined row
    .brick {
        height: 150px;
        @include grid-column(3);
        @include rotate(0);

        .copy {
            padding: 1em;
            height: 100%;
            background: black;
            @include transition(box-shadow 150ms ease);
        }

        .img { 
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            z-index: -1;
            @include translate3d(0,0,0);
            @include transition(transform 150ms ease);
            @include backface-visibility(hidden);
        }

        img {
            opacity: 0;
            @include transition(box-shadow 150ms ease, opacity 150ms ease);
        }

        &:hover { 

            .copy {
                background: white;
                @include box-shadow(0 5px 10px rgba(0,0,0,0.5));
            }

            .img {
                @include translate3d(0,-100%,0);
            }
            img {
                opacity: 1;
                @include box-shadow;
            }
        }
    }

}

// Noteworthy type
.n-container {

    h2 {
        font-size: emCalc(13);
        font-weight: 500;
    }

    h3 {
        font-size: emCalc(19);
        font-weight: 500;
        line-height: 1.2;
    }

    p, h3 {
        color: white;
    }

    p { 
        font-size: emCalc(13);
        line-height: 1.2;
    }

    .brick:hover {
        p,h3 {
            color: black;
        }
    }
}

//
// FILTERS
//

.filter-bar {
    @include grid-row(collapse);
    text-align: right;
    margin-bottom: 2em;
    margin-top: 2em;

    .views,
    .sorts {
        display: inline-block;
        margin-top: 7px;
        position: relative;
    }
    .views { margin-right: 7px; }
    .sorts { top: -2px; }

    button {
        padding: 0.2em;
        margin: 0;
    }

    .wrapper {
        text-align: left;
        margin-bottom: 0.75em;
    }
}

.filter {
    @include grid-column(1, $collapse: true);
    width: auto;
    margin-left: -10px;
    margin-right: 20px;

    h3 {
        display: inline-block;
        margin: 0;
        padding: 0.75em;
        cursor: pointer; 
    }

    .controls {
        overflow: auto;
        margin-bottom: 1em;
    }
    .views {float: left;}
    .close {float: right;}

    .wrapper {
        min-width: 330px;
        position: absolute;
        padding: 0.5em 1em 1em 0.75em;
        opacity: 0;
        z-index: -1;
        background: white;
        @include transition(opacity 150ms ease);
        @include box-shadow(0 6px 10px rgba(0,0,0,0.25));
    }

    ul {
        overflow-y: scroll;
        max-height: 400px;
        margin: 0;
        padding: 0;
    }

    &.open {
        h3 { 
            background: white;
            @include box-shadow(0 3px 10px rgba(0,0,0,0.25));
        }
        .wrapper {
            opacity: 1;
            z-index: 3;
        }
    }
    
    .name { opacity: 0; }
    .icon { opacity: 0; }

    .name,
    .icon {
        @include transition(opacity 150ms ease);
        text-align: left;
    }

    .views {
        margin-right: 0;
        margin-top: -3px;
    }
}

// FILTER TYPE

.filter {
    h3 {
        font-size: emCalc(13);
        font-weight: 500;
        @include transition(color 150ms ease);

        &:hover { color: $secondary-color; }
    }

    &.open h3 { color: $secondary-color; }

    .name,
    .icon {
        font-size: emCalc(19);
        font-weight: 500;
        margin: 0;
    }
}

.names {
    img {display:none;} 

    .name {
        opacity: 1;
    }
}

.icons {
    h4 { display: none; }

    width: 500px;
    li {
        width: 16.66667%;
        float: left;
        margin-bottom: 5px;
    }
    .icon {
        opacity: 1;
    }
}

//
// CONTACT
//

.contact {
    display: table;
    height: 100%;
    width: 100%;

    .wrapper {
        display:table-cell;
        vertical-align: middle;
    }

    h3 {
        margin: 0px;
        line-height: 1;
        font-size: emCalc(50); }
}

//
// SINGLE VIEW TEMPLATE
//

// layout
.viewer {
    @include grid-row(collapse);
    margin-top: 2em;
}

.details {
    @include grid-column(3);
    padding-left: 0;

    // .type and .links are nested in .row defined in the markup
    .tags > li { line-height: 1.2; }
    .type {
        @include grid-column(4, $collapse: true);
    }
    .links { 
        @include grid-column(8, $collapse: true);
    }
}

.container {
    @include grid-column(8.56, $float: right, $collapse: true);
}

// type
.details {

    header { margin-bottom: 1.75em; }
    h3, time { font-size: emCalc(19); }
    h3 { 
        margin: 0;
        margin-bottom: 0.5em;
        line-height: 0.7;
    }

    time { 
        display: block;
        font-weight: 300;
    }

    p {
        font-size: emCalc(19);
        font-weight: 300;
        line-height: 1.4;
    }
}

.showcase-links {
    font-size: emCalc(19);
    font-weight: 500;
    line-height: 1.2;
}

.tags {
    font-size: emCalc(13);
}

.type {
    font-weight: 300;
}

.links {
    font-weight: 500;
}

.profile {
    .details {
        li { line-height: 1.3; }
    }
}
