//
// COLORS
//

$gray: #999999;
$light-gray: #E0E0E0;

//
// MIXINS
//

@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

//
// BUTTONS N ANIMATION HELPERS
//

button {
    background: $light-gray;
}

.quotes {
    height: 88%;
    @include transition(height 150ms ease);

    .container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slide {
        display: table;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    &.short { height: 66%; }
}


.quotes h3 {
    display: table-cell;
    vertical-align: middle;
    font-size: emCalc(10);
}

@media only screen and (min-height: 300px) {
    .quotes h3 {
        font-size: emCalc(15);
    }
}

.blind { 
    font-size: 3em;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    min-height: 50px;
    @include transition(opacity 2000ms ease-out);
}


.opened {
    opacity: 1;
}

.closed {
    opacity: 0;
}

.indicators {
    position: absolute;
    right: 0;
    display: table;
    height: 100%;

    ul {
        margin: 0;
        padding: 0;
        background: black;
        z-index: 0;
        position: relative;
        overflow: hidden;
    }
    li {
        background: url(../../assets/img/mask.png);
        width: 20px;
        height: 25px;
    }
    a {
        width: 100%;
        height: 100%;
        display: block;
    }
    .wrapper {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }
}

.dot {
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 20px;
    background: red;
    @include border-radius(10px);
}

.active-slide a {
    color: red;
}

//
// SHOWCASES
//

.showcase { @include grid-column(12, $collapse:true); }

//
// SPRITES
//

@import "icons/*.png";

.search-icon {
    @include icons-sprite(search);
    width: 13px;
    height: 17px;
}

.filter h3:after {
    @include icons-sprite(down-arrow);
    width: 7px;
    height: 4px;
    content: '';
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 3px;
}

.filter h3:hover:after,
.filter.open h3:after {
    @include icons-sprite(down-arrow-red);
}

.view-all h3:after {
    content: none;
}

.icon-view {
    
    &:before {
        @include icons-sprite(icon-view);
        width: 16px;
        height: 15px;
        content: '';
        display: inline-block;
        float: left;
        margin-top: 4px;
        margin-left: 1px;
    }

    &:hover:before {
        @include icons-sprite(icon-view-hover);
    }

    &.active:before {
        @include icons-sprite(icon-view-selected);
    }
}

.title-view {
    
    &:before {
        @include icons-sprite(title-view);
        width: 25px;
        height: 13px;
        content: '';
        display: inline-block;
        float: left;
        margin-top: 5px;
    }

    &:hover:before {
        @include icons-sprite(title-view-hover);
    }

    &.active:before {
        @include icons-sprite(title-view-selected);
    }
}

.alpha-sort {
    @include icons-sprite(alpha-sort);
    width: 26px;
    height: 8px;

    &:hover {
        @include icons-sprite(alpha-sort-hover);
    }

    &.active {
        @include icons-sprite(alpha-sort-selected);
    }
}

.date-sort {
    @include icons-sprite(date-sort);
    width: 21px;
    height: 8px;

    &:hover {
        @include icons-sprite(date-sort-hover);
    }

    &.active {
        @include icons-sprite(date-sort-selected);
    }
}

.close {
    @include icons-sprite(close);
    width: 11px;
    height: 12px;
    
    &:hover {
        @include icons-sprite(close-hover);
    }
}

.film-row .img:before {
    @include icons-sprite(play);
    content: '';
    position: absolute;
    width: 76px;
    height: 43px;
    left: 50%;
    margin-left: -38px;
    top: 50%;
    margin-top: -22px;
}

.film-row > div:hover .img:before {
    @include icons-sprite(play-hover);
}

//
// ISOTOPE
//

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

// CSS3 TRANSITIONS

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

// CSS3 TRANSITION FALLBACKS

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
