//
// COLORS
//

$gray: #9A9A9A;
$light-gray: #E0E0E0;

//
// MIXINS
//

@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

//
// BUTTONS N STUFF
//

button {
    background: $light-gray;
}

.quotes {
    height: 380px;
    .container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slide {
        display: table;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}


.quotes h3 {
    display: table-cell;
    vertical-align: middle;
}

.blind { 
    font-size: 3em;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    min-height: 50px;
    @include transition(opacity 2000ms ease-out);
}


.opened {
    opacity: 1;
}

.closed {
    opacity: 0;
}

//
// ISOTOPE
//

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

// CSS3 TRANSITIONS

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

// CSS3 TRANSITION FALLBACKS

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
