@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

.container { 
    position: relative; 
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

h1 {
    display: table-cell;
    vertical-align: middle;
}

.blind { 
    font-size: 3em;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    min-height: 50px;
    @include transition(opacity 2000ms ease-out);
}


.opened {
    opacity: 1;
}

.closed {
    opacity: 0;
}

