//
// VIDEO SHOWCASE
//

// TYPE

.video-caption {
    width: 60%;

    h3 {
        font-size: emCalc(19);
        font-weight: 500;
        margin-top: 1em;
        margin-bottom: 0;
    }
    p {
        font-size: emCalc(13);
        font-weight: 300;
        line-height: 1.2;
    }
}


