*.un~
*.swp
.sass-cache
.DS_Store
core/expressionengine/cache/*
php_files
#system/expressionengine/config/database.php
#system/expressionengine/config/config.php
cgi-bin
assets
static
core/expressionengine/config/config.php
cfg.php
