{if segment_3 == ''}
[
{/if}
{exp:channel:entries
    channel="books"
    dynamic="off"
    {sn_url_title}
    limit="500"
    orderby="title"
    sort="asc"
    backspace="2"
    status="open|{last_segment}"}
    {if no_results}""{/if}
    {
        "id" : "{entry_id}",
        "title": "{title}",
        "timestamp" : "{year_books}000",
        "url-title": "{url_title}",
        "thumb" : "{gallery_books cover_only="yes"}{image:url:thumb}{/gallery_books}",
        "summary": {exp:json_encode}{summary_books}{/exp:json_encode},
        "brand_tags" : [],
        "type_tags" : [],
        "industry_tags" : [],
        "media" :
        {
            "gallery" : {
                "images" : [
                {gallery_books backspace="18" limit="500" skip_cover="yes"}
                    {
                        "lg_thumb" : "{image:url:lg-thumb}",
                        "thumb" : "{image:url:thumb}",
                        "url" : "{image:url}",
                        "caption" : {exp:json_encode}{image:description}{/exp:json_encode}
                    },
                {/gallery_books}
                ] 
            },
            "content": {exp:json_encode}{content_books}{/exp:json_encode}
        }
    },
{/exp:channel:entries}
{if segment_3 == ''}
]
{/if}
