<?php header('Content-type: application/json'); ?>
[
{exp:channel:entries channel="film" limit="100" backspace="2" }
    {
        "Title": "{title}",
        "URLTitle": "{url_title}",
        "Summary": "{if summary_film}{summary_film}{/if}",
        "VideoID": "{if video_id_film}{video_id_film}{/if}",
        "VideoCode": "{if video_code_film}{video_code_film}{/if}",
        "Youtube": "{if youtube_film}{youtube_film}{/if}",
        "Content": <?php echo json_encode('{content_film}');?>,
        "Image": 
        [
        	{exp:channel_images:images entry_id="{entry_id}" limit="1" backspace="11"}
	        	{ 
	        		"Caption": "{image:description}", 
	        		"URLThumb": "{image:url:thumb}"
	        	},
        	{/exp:channel_images:images}
        ]	
    },
{/exp:channel:entries}
]
