{!--
    deprecated
<?php header('Content-type: application/json'); ?>
{!--exp:ce_cache:stat:ic seconds="86400"--}
[
{exp:structure:entries
    parent_id="586"
    limit="4"
    disable="categories|member_data|pagination"
    backspace="2"}
    {
        "id" : "{entry_id}",
        "type" : "noteworthy",
        "title" : "{title}",
        "summary": {exp:json_encode}{summary}{/exp:json_encode},
        "image-sizes" : 
        {noteworthy-image backspace="4"}
        {if image:no_images}
        null,
        {/if}
        {
            "one-quarter" : "{image:url:one-quarter}",
            "one-third" : "{image:url:one-third}",
            "one-half" : "{image:url:one-half}"
        },
        {/noteworthy-image}
        "link" : "{noteworthy-link}",
        "external" : "{noteworthy-external}"
    },
{/exp:structure:entries}
]
--}
