<?php header('Content-type: application/json'); ?>
[
{exp:channel:entries channel="articles-about-pa" limit="100" backspace="2"}
    {
        "id" : "{entry_id}",
        "type" : "articles-about-pa",
        "title" : "{title}",
        "timestamp" : "{date_article}000",
        "url" : "{url_title}",
        "summary": {exp:json_encode}{summary_article}{/exp:json_encode},
        "content": {exp:json_encode}{content_article}{/exp:json_encode},
        "gallery": [
        {gallery_article backspace="10"}
            {
                "thumb" : "{image:url:thumb}",
                "url" : "{image:url:full}",
                "caption" : {exp:json_encode}{image:description}{/exp:json_encode}
            },
        {/gallery_article}
        ]
    },
{/exp:channel:entries}
]
