{exp:ce_cache:stat:ic seconds="86400"}
{if segment_3 == ''}
[
{/if}
{exp:channel:entries
    channel="photography"
    dynamic="off"
    {sn_url_title}
    limit="500"
    orderby="title"
    sort="asc"
    backspace="2"
    status="open|{last_segment}"}
    {
        "id" : "{entry_id}",
        "title": "{title}",
        "timestamp" : "{year_photography}000",
        "summary": {exp:json_encode}{summary_photography}{/exp:json_encode},
        "url-title": "{url_title}",
        "thumb" : "{gallery_photography cover_only="yes"}{image:url:thumb}{/gallery_photography}",
        "brand_tags" : [],
        "type_tags" : [],
        "industry_tags" : [],
        "media" :
        {
            "gallery": {
                "images" : [
                {gallery_photography backspace="18" limit="500" skip_cover="yes"}
                    {
                        "lg_thumb" : "{image:url:lg-thumb}",
                        "thumb" : "{image:url:thumb}",
                        "url" : "{image:url}",
                        "caption" : {exp:json_encode}{image:description}{/exp:json_encode}
                    },
                {/gallery_photography}
                ]
            },	
            "summary": {exp:json_encode}{content_photography}{/exp:json_encode}
            {if videos_photography}
            , "videos" : [
                {videos_photography backspace="18"}
                {
                    "title" : {exp:json_encode}{videos_photography:embed_title}{/exp:json_encode},
                    "embed" : {exp:json_encode}{videos_photography:embed_code}{/exp:json_encode}
                },
                {/videos_photography}
            ],
            {/if}
        },
        "cover" : {
        {gallery_photography cover_only="yes"}
            {if image:category == 'landscape'}
            "thumb" : "{image:url:landscape}",
            "wide" : "true",
            "caption" : "{if image:description}{image:description}{/if}",
            {if:else}
            "thumb" : "{image:url:portrait}",
            "wide" : "",
            "caption" : "{if image:description}{image:description}{/if}",
            {/if}
            "caption" : "{title}",
            "url-title" : "{url_title}"
        {/gallery_photography}
        }  
    },
{/exp:channel:entries}
{if segment_3 == ''}
]
{/if}
