<?php header('Content-type: application/json'); ?>
[
{exp:channel:entries channel="profile_press" limit="100" backspace="2"}
    {
        "id" : "{entry_id}",
        "type" : "press",
        "title" : "{title}",
        "date" : "{date_press}",
        "url" : "{url_title}",
        "summary": "{summary_press}",
        "content": "{content_press}",
        "gallery": 
        	[
				{gallery_press backspace="6"}
					{
					    "thumb" : "{image:url:thumb}",
                        "url" : "{image:url:full}",
                        "caption" : <?php echo json_encode("{image:description}"); ?>
					},
                {/gallery_press}
			]
    },
{/exp:channel:entries}
]
