{exp:ce_cache:stat:ic seconds="86400"}
{if segment_3 == ''}
[
{/if}
{exp:channel:entries
    dynamic="off"
    {sn_url_title}
    channel="projects"
    limit="500"
    backspace="6"
    orderby="title"
    sort="asc"
    status="open|{last_segment}"}
    {
        "id" : "{entry_id}",
        "title": "{title}",
        "timestamp" : "{year_projects}000",
        "url-title": "{url_title}",
        "summary": {exp:json_encode}{summary_projects}{/exp:json_encode},
        "cover" : {
            {gallery_projects cover_only="yes"}
            {if image:category == 'landscape'}

            "thumb" : "{image:url:landscape}",
            "wide" : "true",

            {if:else}

            "thumb" : "{image:url:portrait}",
            "wide" : "",

            {/if}
            {/gallery_projects}

            "id" : "{entry_id}",
            "title" : "{title}",
            "url-title" : "{url_title}"
        },
        "brand_tags" : 
        [
            {categories show_group="21" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}",
                "logo" : "{category_image}"
            },
            {/categories}
        ],
        "industry_tags" : 
        [
            {categories show_group="1" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}"
            },
            {/categories}
        ],
        "type_tags" : 
        [
            {categories show_group="11" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}"
            },
            {/categories}
        ],
        "media": 
        { 
            {if gallery_projects}
            "gallery" : {
                "images": [
                {gallery_projects backspace="18" skip_cover="yes"}
                    { 
                        "lg_thumb" : "{image:url:lg-thumb}",
                        "thumb" : "{image:url:thumb}",
                        "url" : "{image:url}",
                        "caption": {exp:json_encode}{image:description}{/exp:json_encode}
                    },
                {/gallery_projects}
                ]
            }
            {/if}
            {if video_id_projects OR video_src_projects}
            , "video" : { 
                {if video_id_projects}
                "video_id": "{video_id_projects}",
                "youtube" : "{youtube}",
                {if:elseif video_src_projects}
                "video_src": "{video_src_projects}",
                {/if}
                "caption" : "{video_caption_projects}"
            }
            {/if}
            {if summary_projects}
            , "summary" : {exp:json_encode}{summary_projects}{/exp:json_encode}
            {/if}
            {if related_links}
            , "relatedLinks" : [
                {related_links backspace="12"}
                    "{item}",
                {/related_links}
            ]
            {/if}
        }
    },
    {/exp:channel:entries}
{if segment_3 == ''}
]
{/if}
