<?php header('Content-type: application/json'); ?>
{exp:ce_cache:stat:ic}
[
{exp:channel:entries channel="projects" limit="100" backspace="6" orderby="title" sort="asc"}
    {
        "id" : "{entry_id}",
        "title": "{title}",
        "timestamp" : "{year_projects}000",
        "url": "{url_title}",
        {!--"logo" : "{logo_projects}{image:url:logo-thumb}{/logo_projects}",--}
        "cover" : {
        {cover_projects}
        {if image:category == 'landscape'}
            "thumb" : "{image:url:landscape}",
            "wide" : "true",
        {if:else}
            "thumb" : "{image:url:portrait}",
            "wide" : "",
        {/if}
        {/cover_projects}
            "caption" : "{title}",
            "url" : "{url_title}"
        },
        "summary": {exp:json_encode}{summary_projects}{/exp:json_encode},
        "brand_tags" : 
        [
            {categories show_group="21" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}",
                "logo" : "{category_image}"
            },
            {/categories}
        ],
        "industry_tags" : 
        [
            {categories show_group="1" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}"
            },
            {/categories}
        ],
        "type_tags" : 
        [
            {categories show_group="11" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}"
            },
            {/categories}
        ],
        "showcases": 
        [ 
            {exp:playa:children field="products_project" backspace="14"}
            { 
                "title" : "{title}",
                "url_title": "{url_title}",
                {if gallery_project}
                "type" : "gallery",
                "images": [
                    {gallery_project backspace="22"}
                    { 
                        "lg_thumb" : "{image:url:lg-thumb}",
                        "thumb" : "{image:url:thumb}",
                        "url" : "{image:url:full-size}",
                        "caption": "{image:description}"
                    },
                    {/gallery_project}
                ]
                {if:elseif video_id_project}
                "type" : "video",
                "video_id": "{video_id_project}",
                "caption" : "{video_caption_project}",
                "youtube" : "{youtube}"
                {if:elseif video_src_project}
                "type" : "video",
                "video_src": "{video_src_project}",
                "caption" : "{video_caption_project}",
                "youtube" : "{youtube}"
                {/if}
            },
            {/exp:playa:children}
        ],
        "info" : {exp:json_encode}{info_projects}{/exp:json_encode},
        "relatedLinks" : [
            {related_links backspace="8"}
                "{item}",
            {/related_links}
        ]
    },
    {/exp:channel:entries}
]
