<?php header('Content-type: application/json'); ?>
{!--exp:ce_cache:stat:ic seconds="86400"--}
[
{exp:low_reorder:entries set="quote-slides" limit="10" backspace="2"}
    {
        "id" : "{entry_id}",
        {image_quotes cover_only="yes"}
        "image" : "{image:url:slide}",
        "type" : "image",
        {if image:no_images}
        "type" : "quote",
        "title" : "{title}",
        "lines" : [
        {lines backspace="8"}
            {
                "line" : "{item}"
            },
        {/lines}
        ],
        {/if}
        {/image_quotes}
        "link" : "{link-url_quotes}",
        "external" : "{external_quote}",
        "link-copy" : "{button_quotes}"
    },
{/exp:low_reorder:entries}
]
