<?php 
    header('Content-type: application/json');

    function recursive_array_search($needle,$haystack) { 
        foreach($haystack as $key=>$value) { 
            $current_key=$key; 
            if($needle===$value OR (is_array($value) && recursive_array_search($needle,$value))) { 
                return true;
            } 
        } 
        return false; 
    } 
    $keywords = '{super_search_keywords}'; 
    $tags = explode( ' ', $keywords);
?>

[
    {exp:super_search:results
        paginate="both"
        limit="10"
        orderby="entry_date+desc+title+asc"
        search_words_within_words="no"
        category_indicator="category_url_title"
        inclusive_keywords="no"
        keyword_search_category_name="yes"
    }

    {if super_search_no_results}
        "no results",
    {/if}

    {if gallery_photography}
        <?php
            $images = array();
            foreach( $tags as $tag ) {
        ?>
            {gallery_photography}
                 <?php
                    $pos = strpos( '{image:field:1}', $tag );
                    if ( $pos !== false && !recursive_array_search('{image:id}', $images) ) {
                        $image = array(
                            'id' => '{image:id}',
                            'lg_thumb' => '{image:url:lg-thumb}',
                            'thumb' => '{image:url:thumb}',
                            'url' => '{image:url:full-size}',
                            'caption' => '{image:description}',
                            'keywords' => '{image:field:1}'
                        );
                        $images[] = $image;
                    }
                ?>
            {/gallery_photography}
        <?php 
            }

            if ( !empty($images) ) {
                $json = array();
                $json['type'] = 'image';
                $json['images'] = $images;
                echo json_encode($json);
                echo ',';
            }
        ?>                                 
    {/if}
    {if year_film}
    {
        "type": "film",
        "id" : "{entry_id}",
        "title": "{title}",
        "date" : "{year_film}000",
        "url": "{path='film'}/{url_title}",
        "thumb" : "{cover_image_film}{image:url:thumb}{/cover_image_film}",
        "summary": {exp:json_encode}{summary_film}{/exp:json_encode},
        {if video_id_film}
        "video_id": "{video_id_film}",
        {if:else}
        "video_src" : "{video_src_film}",
        {/if}
        "youtube" : "{youtube_film}",
        "content": {exp:json_encode}{content_film}{/exp:json_encode},
        "caption" : {exp:json_encode}{caption_film}{/exp:json_encode}
    },
    {/if} 
    {if date_awards}
    {
        "type": "awards",
        "id" : "{entry_id}",
        "title" : "{title}",
        "date" : "{date_awards}000",
        "summary" : "{summary_awards}"
    },
    {/if}  
    {if image_bio}
    {
        "type": "bio",
        "id" : "{entry_id}",
        "title": "Bio/CV",
        "url" : "bio",
        "bioImg" : "{image_bio}{image:url:layout}{/image_bio}",
        "content": {exp:json_encode}{content_profile}{/exp:json_encode}
    },
    {/if}
    {if date_article}
    {
        "type": "article",
        "id" : "{entry_id}",
        "title" : "{title}",
        "date" : "{date_article}000",
        "url" : "{path='{channel_short_name}'}/{url_title}",
        "summary": {exp:json_encode}{summary_article}{/exp:json_encode},
        "content": {exp:json_encode}{content_article}{/exp:json_encode},
        "gallery": [
            {gallery_article backspace="14"}
            {
                "thumb" : "{image:url:thumb}",
                "url" : "{image:url:full}",
                "caption" : {exp:json_encode}{image:description}{/exp:json_encode},
                "keywords" : "{image:field:1}"
            },
            {/gallery_article}
        ]
    },
    {/if}	  
    {if paPhotos_profile}
    {
        "type" : "gallery",
        "id" : "{entry_id}",
        "url" : "{path='{channel_short_name}'}",
        "gallery": [
            {paPhotos_profile backspace="14"}
            { 
                "thumb" : "{image:url:thumb}",
                "lg_thumb" : "{image:url:lg-thumb}",
                "url" : "{image:url:full}",
                "caption" : "{image:description}",
                "keywords" : "{image:field:1}"
            },
            {/paPhotos_profile}
        ]  
    },
    {/if}   
    {if gallery_photography}
    {
        "type": "gallery",
        "id" : "{entry_id}",
        "title": "{title}",
        "date" : "{year_photography}000",
        "url": "{path='photography'}/{url_title}",
        "summary": {exp:json_encode}{summary_photography}{/exp:json_encode},
        "cover" : {
        {gallery_photography cover_only="yes"}
            {if image:category == 'landscape'}
            "thumb" : "{image:url:landscape}",
            "wide" : "true",
            "caption" : "{if image:description}{image:description}{/if}",
            {if:else}
            "thumb" : "{image:url:portrait}",
            "wide" : "",
            "caption" : "{if image:description}{image:description}{/if}",
            {/if}
            "url" : "{url_title}"
        {/gallery_photography}
        },  
        "gallery": [
            {gallery_photography backspace="14"}
            {
                "thumb" : "{image:url:thumb}",
                "lg_thumb" : "{image:url:lg-thumb}",
                "caption" : {exp:json_encode}{image:description}{/exp:json_encode},
                "url" : "{image:url}",
                "keywords" : "{image:field:1}"
            },
            {/gallery_photography}
        ]
    },
    {/if}	
    {if year_projects}
    {
        "type": "project",
        "id" : "{entry_id}",
        "title": "{title}",
        "date" : "{year_projects}000",
        "url": "{path='projects'}/{url_title}",
        {!--"logo" : "{logo_projects}{image:url:logo-thumb}{/logo_projects}",--}
        "cover" : {
        {cover_projects}
        {if image:category == 'landscape'}
            "thumb" : "{image:url:landscape}",
            "wide" : "true",
        {if:else}
            "thumb" : "{image:url:portrait}",
            "wide" : "",
        {/if}
            "caption" : "{image:description}",
        {/cover_projects}
            "url" : "{url_title}"
        },
        "summary": {exp:json_encode}{summary_projects}{/exp:json_encode},
        "brand_tags" : [
            {categories show_group="21" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}",
                "logo" : "{category_image}"
            },
            {/categories}
        ],
        "industry_tags" : [
            {categories show_group="1" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}"
            },
            {/categories}
        ],
        "type_tags" : [
            {categories show_group="11" backspace="14"}
            { 
                "title" : "{category_name}",
                "className" : "{category_url_title}"
            },
            {/categories}
        ],
        "showcases": [ 
            {exp:playa:children field="products_project" backspace="14"}
            { 
                "title" : "{title}",
                "url_title": "{url_title}",
                {if gallery_project}
                "type" : "gallery",
                "images": [
                    {gallery_project backspace="22"}
                    { 
                        "lg_thumb" : "{image:url:lg-thumb}",
                        "thumb" : "{image:url:thumb}",
                        "url" : "{image:url:full-size}",
                        "caption": "{image:description}",
                        "keywords" : "{image:field:1}"
                    },
                    {/gallery_project}
                ]
                {if:elseif video_id_project}
                "type" : "video",
                "video_id": "{video_id_project}",
                "caption" : "{video_caption_project}",
                "youtube" : "{youtube}"
                {if:elseif video_src_project}
                "type" : "video",
                "video_src": "{video_src_project}",
                "caption" : "{video_caption_project}",
                "youtube" : "{youtube}"
                {/if}
            },
            {/exp:playa:children}
        ],
        "info" : {exp:json_encode}{info_projects}{/exp:json_encode},
        "relatedLinks" : [
            {related_links backspace="1"}"{item}",{/related_links}
        ] 
    },
    {/if}      
    {if gallery_project}
    {
        "type" : "gallery",
        "title" : "{title}",
        "url": "{path='projects'}/{exp:playa:parents}{url_title}{/exp:playa:parents}/{url_title}",
        "gallery" : {
            "images": [
                {gallery_project backspace="18"}
                { 
                    "lg_thumb" : "{image:url:lg-thumb}",
                    "thumb" : "{image:url:thumb}",
                    "url" : "{image:url:full-size}",
                    "caption": "{image:description}",
                    "keywords" : "{image:field:1}"
                },
                {/gallery_project}
            ]
        }
    },
    {/if}
    {if video_id_project}
    {
        "type" : "video",
        "title" : "{title}",
        "url": "{path='projects'}/{exp:playa:parents}{url_title}{/exp:playa:parents}/{url_title}",
        "video_id": "{video_id_project}",
        "caption" : "{video_caption_project}",
        "youtube" : "{youtube}"
    },
    {if:elseif video_src_project}
    {
        "type" : "video",
        "title" : "{title}",
        "url": "{path='projects'}/{exp:playa:parents}{url_title}{/exp:playa:parents}/{url_title}",
        "video_src": "{video_src_project}",
        "caption" : "{video_caption_project}",
        "youtube" : "{youtube}"
    },
    {/if}
    {if lines}
    {
        "type" : "quotes",
        "title" : "{title}",
        "lines" : [
        {lines backspace="12"}
            "{item}",
        {/lines}
        ]
    },
    {/if}
    {/exp:super_search:results}
    {
        "type" : "keywords",
        "keywords" : <?php echo json_encode($keywords); ?>
    }
]
