                        {exp:search:simple_form channel="profile_awards" form_class="search-form" form_id="searchForm" where="all" search_in="titles"}
                            <div class="table-wrapper">
                                <div class="cell-wrapper">
                                    <input id="searchInput" class="search" type="search" name="keywords">
                                    <input type="submit" value="submit" class="submit">
                                </div> <!-- .cell-wrapper -->
                            </div> <!-- .table-wrapper -->
                        {/exp:search:simple_form}
                        
                        
                      