{embed="includes/header" nav="search"}

    <form method="post" action="" class="search-form active" id="pageSearchForm">
        <div class="table-wrapper">
            <div class="cell-wrapper">
                <input autofocus id="keywords" class="search" type="search" name="keywords" id="keywords" />
                <button class="submit-search button" id="submitSearch" type="submit">Search</button>
                <button class="cancel-search button" id="cancelSearch" type="button">Cancel</button>
                <fieldset>
                    <legend>Advanced Search</legend>
                    <label><input type="checkbox" id="search:projects">Projects</label>
                    <label><input type="checkbox" id="search:photography">Photography</label>
                    <label><input type="checkbox" id="search:film">Film</label>
                    <label><input type="checkbox" id="search:press">Press</label>
                    <label><input type="checkbox" id="search:paAuthor">Articles by Peter</label>
                    <label><input type="checkbox" id="search:paSubject">Articles about Peter</label>
                    <label><input type="checkbox" id="search:allArticles">All Articles</label>
                    <label><input type="checkbox" id="search:interviews">Interviews</label>
                    <label><input type="checkbox" id="search:transcripts">Transcripts</label>
                </fieldset>
            </div> <!-- .cell-wrapper -->
        </div> <!-- .table-wrapper -->
    </form> 

</div> <!-- .page -->
{embed="includes/footer"}
