{embed="includes/header" nav="search"}

    <form method="post" action="" class="search-form active" id="pageSearchForm">
        <div class="table-wrapper">
            <div class="cell-wrapper">
                <input autofocus id="keywords" class="search" type="search" name="keywords" id="keywords" />
                <button class="submit-search button" id="submitSearch" type="submit">Search</button>
                <button class="cancel-search button" id="cancelSearch" type="button">Cancel</button>
                <fieldset>
                    <legend>Advanced Search</legend>
                    <label><input type="checkbox" name="channel" value="projects">Projects</label>
                    <label><input type="checkbox" name="channel" value="photography">Photography</label>
                    <label><input type="checkbox" name="channel" value="film">Film</label>
                    <label><input type="checkbox" name="channel" value="books">Books</label>
                    <label><input type="checkbox" name="channel" value="press">Press</label>
                    <label><input type="checkbox" name="channel" value="articles-by-pa">Articles by Peter</label>
                    <label><input type="checkbox" name="channel" value="articles-about-pa">Articles about Peter</label>
                    <label><input type="checkbox" name="channel" value="interviews">Interviews</label>
                    <label><input type="checkbox" name="channel" value="transcripts">Transcripts</label>
                </fieldset>
            </div> <!-- .cell-wrapper -->
        </div> <!-- .table-wrapper -->
    </form> 

</div> <!-- .page -->

{embed="includes/footer"}
