body {
 background-color:#27343c;
 margin: 18px;
 font-family: Lucida Grande, Sans-serif;
 font-size: 14px;
 color:#000;
}
 
#outer {
 background: transparent;
 width: 900px;
 margin: 25px auto 50px auto;
}
 
#inner {
 background:#fff;
 padding: 10px 30px 15px 20px;
 border: 1px solid#000;
}
 
#header { 
  background: transparent;
}
 
#content {
  background-color:#fff;
}
 
#footer {
 text-align: center;
 font-size: 11px;
 color:#999;
 margin: 30px 0 22px 0;
}
 
.shade {
 background-color:  #f6f6f6;
 padding: 6px 0 10px 22px;
 margin-top: 10px;
 margin-bottom: 20px;
 border:     #7B81A9 1px solid;
}

.req_module {
 font-weight: bold;	
 display:none

}

h1 {
 font-weight: bold;
 font-size: 20px;
 color:#000;
 border-bottom: 1px solid#27343c;
 margin-bottom: 20px;
}

h2 {
 font-weight: bold;
 font-size: 16px;
 color:#333;
 margin: 20px 0 0 0;
}
 
h5 {
 font-weight: bold;
 font-size: 14px;
 color:#000;
 margin: 16px 0 8px 0;
}
 
p {
  margin: 6px 0 8px 0;
}

.pad {
  margin: 14px 0 16px 0;
}
 
.important {
  font-weight: bold;
  color:#990000;
}

.success {
  font-weight: bold;
  color:#009900;
}

table {
 width: 100%;
 line-height: 13px;
 color: rgb(95, 108, 116)

}
 
th {
 font-size: 12px;
 text-align: left;
 font-weight:       bold;
 color:             #fff;
 padding:           9px 8px 10px 8px;
 background-color: 	rgb(42, 57, 64);
 border-left:       1px solid rgb(69, 85, 95);
 margin-bottom:		1px;
}
 
td {
 font-size: 12px;
 padding:           7px 10px;
 border-bottom:     1px solid rgb(208, 215, 223);
 border-left:		1px solid rgb(208, 215, 223);
 background-color: 	rgb(244, 246, 246);
}

tr.even td {
 background-color:	rgb(235, 240, 242);
}
.required {
  color:              #990000;
}

.suggested {
  color:              #0000FF;
}

.supported_y {
  color:              #009933;
}

.supported_n {
  color:              #990000;
}

form {
  margin:  0;
  padding: 0;
  border:  0;
}

.hidden {
  margin:  0;
  padding: 0;
  border:  0;
}

input {
  padding: 4px;
  margin:  0 0 8px 0;
} 